body{
	background:#02010a;
	font-family: dancing script;}

img{
	box-shadow: 2px 2px #02010a;}

#contenido{
	width: 900px;
	margin: auto;}

header{
	background: #5b7989;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px 10px 0 0 }

header a{
	color: white;}

header{
	animation: aparicion 1s}

@keyframes aparicion{
	0%{margin-top: 150%}
	60%{margin-top: -5%}
	100%{margin-top: 0%}}

#titulo{
	color: white;
	text-shadow: 2px 2px #02010a;
	margin-left: 10px;}

#paisajes{
	text-decoration: none;}

#galeria{
	background: #d5c75f;}

#linea1 img{
	width: 29%;
	margin: 2%;}

#linea2 img{
	width: 29%;
	margin: 2%;}

#i1{
	-webkit-filter: blur(10px);}

#i2,#i4, #i6{
	-webkit-filter: grayscale(100%);}

#i3{
	-webkit-filter: sepia(90%);}

footer{
	border-radius: 0px 0px 10px 10px;
	background: #C6d5c5;
	display: flex;
	justify-content: space-around;}

#contacto, #condiciones, #rrss, #copy{
	width: 25%;}

@media screen and (max-width: 899px){
	#contenido{width: 100%;}

	header{flex-direction: column;
		font-size: 80%;}

	header nav{margin: 2%;
				font-size: 120%;}

	footer{flex-direction: column;}

	#linea1 #i1{width: 80%; margin: 10%;}
	#linea1 #i2{width: 80%; margin: 10%;}
	#linea1 #i3{width: 80%; margin: 10%;}
	#linea2 #i4{width: 80%; margin: 10%;}
	#linea2 #i5{width: 80%; margin: 10%;}
	#linea2 #i6{width: 80%; margin: 10%;}

	#contacto{width: 100%;}

	#condiciones{width: 100%;}

	#rrss{width: 100%;}

	#copy{width: 100%;}}
	